@import "tailwindcss";

@theme {
  --brand-dark: #0b1215;
  --brand-light: #faf9f6;
  --brand-accent: #ff4d00;

  --font-sans: var(--font-google-sans);
  --font-display: var(--font-space-grotesk);
}

body {
  background: var(--brand-dark);
  color: var(--brand-light);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: var(--brand-accent);
}
