@import "tailwindcss";

@theme {
  --color-dark: #0b1215;
  --color-light: #faf9f6;
  --color-orange: #ff4d00;
  --color-blue: #38bdf8;
  --color-gray: #64748b;

  --font-sans: var(--font-dm-sans);
  --font-display: var(--font-space-grotesk);
}

body {
  background: var(--color-dark);
  color: var(--color-light);
}
